/* Movie details */
.movie-details{
    display: flex;
    justify-content: space-between;
}

.about-movie{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.movie-title h1{
    font-size: 1.5rem;
    margin: 0;
}


.movie-title, .movie-desc{
    margin-block: 1rem;
    width: fit-content;
}


.movie-desc p{
    font-size: 0.8rem;
}

.movie-read-more p{
    margin: 0;
    color: var(--button-text-color);
    cursor: pointer;
}

.movie-read-more:hover{
    scale: 1.01;
}


/* MOVIE BTNS */
.movie-btns{
    display: flex;
    gap: 1rem;
}

.watch-trailer-btn,.to-watchlist-btn{
    padding: 1.1rem 1.5rem;
    border-radius: 2rem;
    border: 1px solid var(--border-color);
    cursor: pointer;
}

.watch-trailer-btn{
    background-color: var(--card-background-color);
    color: var(--button-text-color);
    border: none;
}

.watch-trailer-btn:hover{
    background-color: var(--hover-color);
    color: var(--button-hover-text-color);
}

.to-watchlist-btn{
    background-color: transparent;
    color: var(--button-text-color);
}

.to-watchlist-btn:hover{
    background-color: var(--primary-text-color);
    color: var(--button-hover-text-color);
}

/* MOVIE CAST */
.movie-cast-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movie-cast{
    border-top: 1px solid var(--border-color);
    padding-top: 0.5rem;
}

.movie-cast h1{
    margin: 0;
    font-size: 1.2rem;
}

.movie-cast p{
    margin: 0;
    font-size: 0.95rem;
}