.trending-container{
    display: flex;
    border-top: 1px solid var(--border-color);
}

.trending{
    display: flex;
    flex-direction: column;
}

.trending h1{
    font-size: 1.4rem;
}

.trending-title{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.movie-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2rem; 
}