.watchlist{
    display: flex;
    padding: 2rem;
}

.watchlist-movie-cards{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
}

.watchlist-empty{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--secondary-text-color);
}