.sidebar-container{
    display: flex;
    height: 100%;
    border-right: 1px solid var(--border-color);

}

.sidebar{
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    gap: 1rem;
    color: var(--secondary-text-color);
    width: 270px;
}

.sidebar-logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--primary-text-color);
    margin-bottom: 3rem;
    cursor: pointer;
}
.sidebar-logo h1{
    margin: 0;
    font-size: 1.3rem;
}

.sidebar-navigation{
    display: flex;
    flex-direction: column;
    gap: 7rem;
}

.news-feed, .sidebar-profile{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.news-feed h1{
    font-size: 0.9rem;
    margin: 0;
    margin-bottom: 0.3rem;
}

.sidebar-nav-item {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding-block: 0.4rem; 
    text-decoration: none;
    color: var(--secondary-text-color);
    transition: 0.2s;
}



.sidebar-nav-item.active{
    color: var(--primary-text-color);
    scale: 1.01;
}

.sidebar-nav-item p{
    margin: 0;
    font-size: 0.9rem;
    font-weight: bold;
}


.theme-btn{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    border: none;
    background-color: transparent;
    color: var(--secondary-text-color);
    cursor: pointer;
    padding: 0;
    font-weight: bold;
    transition: 0.2s;
}


@media screen and (max-width: 768px) {
    .sidebar {
        width: 200px;
        padding: 1rem;
    }

    .sidebar-logo {
        margin-bottom: 2rem;
    }

    .logo-icon{
        font-size: large;
    }

    .sidebar-logo h1{
        display: none;
    }


    .news-feed h1 {
        font-size: 0.8rem;
    }

    .sidebar-nav-item {
        padding-block: 0.3rem;
    }

    .sidebar-nav-item p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 480px) {
    .sidebar {
        width: 150px;
        padding: 0.8rem;
    }

    .sidebar-logo {
        gap: 0.8rem;
        margin-bottom: 1.5rem;
    }


    .news-feed h1 {
        font-size: 0.7rem;
    }

    .sidebar-nav-item {
        padding-block: 0.2rem;
    }

    .sidebar-nav-item p {
        display: none;
    }
}
